<section>
  <div class="relative">
    <div class="grid sm:grid-cols-3 max-h-fit">
      <div class="grayscale transition duration-200 hover:grayscale-0 content-center h-full">
        <img
          src="./images/clients/huawei-2.svg"
          class="h-20 w-full mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="grayscale transition duration-200 hover:grayscale-0 content-center h-full">
        <img
          src="./images/clients/stategr-2.svg"
          class="h-20 w-full mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="grayscale transition duration-200 hover:grayscale-0 content-center h-full">
        <img
          src="./images/clients/xiaopeng-2.svg"
          class="h-20 w-full mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>


      <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./images/clients/ge.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./images/clients/netflix.svg"
          class="h-8 w-auto m-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./images/clients/google-cloud.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div> -->
    </div>
  </div>
</section>
