---
import Hero from './Hero.astro';
import BrandsGray from './BrandsGray.astro';
import Stats from './Stats.astro';
import Container from '../common/Container.astro';
import Note from './Note.astro';
---

<Container>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'GitHub Repo',
        href: 'https://github.com/TS-energy',
        target: '_blank',
        icon: 'tabler:link',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/hero/Future-Energy-System.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Electrochemistry Energy Storage Device <span class="text-accent dark:text-white highlight">
        Modelling and Management
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">TSuEnergy</span> is committed to revolutionizing the energy landscape by developing innovative
        and sustainable energy solutions that benefit both our customers and the planet.</span
      >
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600">TSuEnergy: Production-ready.</span> -->
      <!-- Our solutions are versatile and can benefit a wide range of industries, including commercial, industrial, residential,
      and renewable energy sectors. -->
    </Fragment>
  </Hero>

  <!-- 分割线 -->
  <hr class="my-12 border-t border-gray-200 dark:border-gray-800" />
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- <Carousel2 /> -->
  <!-- 分割线 -->
  <hr class="my-12 border-t border-gray-200 dark:border-gray-800" />

  <!-- Brands Gray Widget ************ -->
  <BrandsGray />

  <!-- Note Widget ******************* -->

  <Note />
</Container>
