<section id="about_us" class="w-full py-12 px-4 overflow-hidden bg-gray-100">
  <div class="w-full max-w-7xl mx-auto">
    <div class="w-full max-w-2xl mx-auto text-center space-y-4 py-6">
      <!-- <span
        class="whitespace-nowrap inline-block font-sans text-md py-1.5 px-3 m-1 rounded-full bg-blue-300 text-emerald-50 dark:bg-blue-500 dark:text-white"
      >
        Our Team
      </span> -->
      <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase" set:html={"Our Team"} />
      <h2 class="font-heading font-bold text-4xl md:text-5xl text-muted-800 dark:text-white">我们的团队</h2><p
        class="font-sans text-lg text-muted-500 dark:text-muted-400"
      >
        我们团队是一个由海内外硕士\博士群体组成的高质量....
      </p>
    </div><div class="w-full py-6">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-8 w-full max-w-6xl mx-auto">
        <div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306182157847.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-teal-100 text-teal-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:medal-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="M176 96a48 48 0 1 1-48-48a48 48 0 0 1 48 48" opacity=".2"></path><path
                      d="M216 96a88 88 0 1 0-144 67.83V240a8 8 0 0 0 11.58 7.16L128 225l44.43 22.21a8.1 8.1 0 0 0 3.57.79a8 8 0 0 0 8-8v-76.17A87.85 87.85 0 0 0 216 96M56 96a72 72 0 1 1 72 72a72.08 72.08 0 0 1-72-72m112 131.06l-36.43-18.21a8 8 0 0 0-7.16 0L88 227.06v-52.69a87.89 87.89 0 0 0 80 0ZM128 152a56 56 0 1 0-56-56a56.06 56.06 0 0 0 56 56m0-96a40 40 0 1 1-40 40a40 40 0 0 1 40-40"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">OS</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                CEO
              </p>
            </div>
            <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
              一位精力充沛的运营专家。负责与用户和合作伙伴的沟通，以确保我们的团队能够满足用户需求并提供优质的产品和服务。
            </p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://github.com/juestchaos"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1.03em"
                  height="1em"
                  viewBox="0 0 1536 1504"
                  data-icon="fa:github"
                  class="block mx-auto iconify w-5 h-5 iconify--fa"
                  ><path
                    fill="currentColor"
                    d="M768 0q209 0 385.5 103T1433 382.5T1536 768q0 251-146.5 451.5T1011 1497q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142q57-6 102.5-18t94-39t81-66.5t53-105T1258 728q0-119-79-206q37-91-8-204q-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T450 331.5T365 318q-45 113-8 204q-79 87-79 206q0 85 20.5 150T351 983t80.5 67t94 39t102.5 18q-39 36-49 103q-21 10-45 15t-57 5t-65.5-21.5T356 1146q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5t9 14t13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30t69.5 7t55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5T0 768q0-209 103-385.5T382.5 103T768 0M291 1103q3-7-7-12q-10-3-13 2q-3 7 7 12q9 6 13-2m31 34q7-5-2-16q-10-9-16-3q-7 5 2 16q10 10 16 3m30 45q9-7 0-19q-8-13-17-6q-9 5 0 18t17 7m42 42q8-8-4-19q-12-12-20-3q-9 8 4 19q12 12 20 3m57 25q3-11-13-16q-15-4-19 7t13 15q15 6 19-6m63 5q0-13-17-11q-16 0-16 11q0 13 17 11q16 0 16-11m58-10q-2-11-18-9q-16 3-14 15t18 8t14-14"
                  ></path></svg
                ></a
              ><a
                href="https://space.bilibili.com/489501986"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                  data-icon="simple-icons:bilibili"
                  class="block mx-auto iconify w-5 h-5 iconify--simple-icons"
                  ><path
                    fill="currentColor"
                    d="M17.813 4.653h.854q2.266.08 3.773 1.574Q23.946 7.72 24 9.987v7.36q-.054 2.266-1.56 3.773c-1.506 1.507-2.262 1.524-3.773 1.56H5.333q-2.266-.054-3.773-1.56C.053 19.614.036 18.858 0 17.347v-7.36q.054-2.267 1.56-3.76t3.773-1.574h.774l-1.174-1.12a1.23 1.23 0 0 1-.373-.906q0-.534.373-.907l.027-.027q.4-.373.92-.373t.92.373L9.653 4.44q.107.106.187.213h4.267a.8.8 0 0 1 .16-.213l2.853-2.747q.4-.373.92-.373c.347 0 .662.151.929.4s.391.551.391.907q0 .532-.373.906zM5.333 7.24q-1.12.027-1.88.773q-.76.748-.786 1.894v7.52q.026 1.146.786 1.893t1.88.773h13.334q1.12-.026 1.88-.773t.786-1.893v-7.52q-.026-1.147-.786-1.894t-1.88-.773zM8 11.107q.56 0 .933.373q.375.374.4.96v1.173q-.025.586-.4.96q-.373.375-.933.374c-.56-.001-.684-.125-.933-.374q-.375-.373-.4-.96V12.44q0-.56.386-.947q.387-.386.947-.386m8 0q.56 0 .933.373q.375.374.4.96v1.173q-.025.586-.4.96q-.373.375-.933.374c-.56-.001-.684-.125-.933-.374q-.375-.373-.4-.96V12.44q.025-.586.4-.96q.373-.373.933-.373"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div><div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306172300584.gif"
              alt="Team member"
              width="282"
              height="348"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-primary-100 text-primary-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:coins-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path
                      d="M240 132c0 19.88-35.82 36-80 36c-19.6 0-37.56-3.17-51.47-8.44C146.76 156.85 176 142 176 124V96.72c36.52 3.34 64 17.86 64 35.28m-64-48c0-19.88-35.82-36-80-36S16 64.12 16 84s35.82 36 80 36s80-16.12 80-36"
                      opacity=".2"></path><path
                      d="M184 89.57V84c0-25.08-37.83-44-88-44S8 58.92 8 84v40c0 20.89 26.25 37.49 64 42.46V172c0 25.08 37.83 44 88 44s88-18.92 88-44v-40c0-20.7-25.42-37.32-64-42.43M232 132c0 13.22-30.79 28-72 28c-3.73 0-7.43-.13-11.08-.37C170.49 151.77 184 139 184 124v-18.26c29.87 4.45 48 16.53 48 26.26M72 150.25v-23.79A184 184 0 0 0 96 128a184 184 0 0 0 24-1.54v23.79A163 163 0 0 1 96 152a163 163 0 0 1-24-1.75m96-40.32V124c0 8.39-12.41 17.4-32 22.87V123.5c12.91-3.13 23.84-7.79 32-13.57M96 56c41.21 0 72 14.78 72 28s-30.79 28-72 28s-72-14.78-72-28s30.79-28 72-28m-72 68v-14.07c8.16 5.78 19.09 10.44 32 13.57v23.37C36.41 141.4 24 132.39 24 124m64 48v-4.17c2.63.1 5.29.17 8 .17c3.88 0 7.67-.13 11.39-.35a122 122 0 0 0 12.61 3.76v23.46c-19.59-5.47-32-14.48-32-22.87m48 26.25V174.4a179.5 179.5 0 0 0 24 1.6a184 184 0 0 0 24-1.54v23.79a165.5 165.5 0 0 1-48 0m64-3.38V171.5c12.91-3.13 23.84-7.79 32-13.57V172c0 8.39-12.41 17.4-32 22.87"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Boninall</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                首席技术总监
              </p>
            </div>
            <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
              一位年轻而富有活力的开发专家。他熟悉各种软件开发框架和技术，能够将复杂的功能和扩展性嵌入到我们的工具和软件中。
            </p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://github.com/Quorafind"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1.03em"
                  height="1em"
                  viewBox="0 0 1536 1504"
                  data-icon="fa:github"
                  class="block mx-auto iconify w-5 h-5 iconify--fa"
                  ><path
                    fill="currentColor"
                    d="M768 0q209 0 385.5 103T1433 382.5T1536 768q0 251-146.5 451.5T1011 1497q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142q57-6 102.5-18t94-39t81-66.5t53-105T1258 728q0-119-79-206q37-91-8-204q-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T450 331.5T365 318q-45 113-8 204q-79 87-79 206q0 85 20.5 150T351 983t80.5 67t94 39t102.5 18q-39 36-49 103q-21 10-45 15t-57 5t-65.5-21.5T356 1146q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5t9 14t13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30t69.5 7t55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5T0 768q0-209 103-385.5T382.5 103T768 0M291 1103q3-7-7-12q-10-3-13 2q-3 7 7 12q9 6 13-2m31 34q7-5-2-16q-10-9-16-3q-7 5 2 16q10 10 16 3m30 45q9-7 0-19q-8-13-17-6q-9 5 0 18t17 7m42 42q8-8-4-19q-12-12-20-3q-9 8 4 19q12 12 20 3m57 25q3-11-13-16q-15-4-19 7t13 15q15 6 19-6m63 5q0-13-17-11q-16 0-16 11q0 13 17 11q16 0 16-11m58-10q-2-11-18-9q-16 3-14 15t18 8t14-14"
                  ></path></svg
                ></a
              ><a
                href="https://www.zhihu.com/people/kio-mis"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                  data-icon="ri:zhihu-fill"
                  class="block mx-auto iconify w-5 h-5 iconify--ri"
                  ><path
                    fill="currentColor"
                    d="M13.374 18.897h1.452l.478 1.637l2.605-1.637h3.07V5.395h-7.605zM14.919 6.86h4.515v10.57h-1.732l-1.73 1.087l-.315-1.084l-.738-.003zm-2.83 4.712H8.846a70.3 70.3 0 0 0 .136-4.56h3.172s.122-1.4-.532-1.384H6.135c.217-.814.488-1.655.814-2.524c0 0-1.493 0-2.001 1.339c-.21.552-.82 2.677-1.903 4.848c.365-.04 1.573-.073 2.284-1.378c.13-.366.156-.414.318-.902h1.79c0 .651-.074 4.151-.105 4.558h-3.24c-.728 0-.964 1.466-.964 1.466h4.065c-.272 3.095-1.737 5.703-4.392 7.764c1.27.363 2.536-.057 3.162-.614c0 0 1.425-1.297 2.206-4.298l3.345 4.03s.491-1.668-.076-2.482c-.47-.553-1.74-2.051-2.281-2.594l-.907.72c.27-.867.433-1.71.488-2.524h3.822s-.005-1.466-.47-1.466z"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div><div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306172303493.gif"
              alt="Team member"
              width="282"
              height="348"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-yellow-100 text-yellow-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:code-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="m240 128l-48 40H64l-48-40l48-40h128Z" opacity=".2"></path><path
                      d="M69.12 94.15L28.5 128l40.62 33.85a8 8 0 1 1-10.24 12.29l-48-40a8 8 0 0 1 0-12.29l48-40a8 8 0 0 1 10.24 12.3m176 27.7l-48-40a8 8 0 1 0-10.24 12.3L227.5 128l-40.62 33.85a8 8 0 1 0 10.24 12.29l48-40a8 8 0 0 0 0-12.29m-82.39-89.37a8 8 0 0 0-10.25 4.79l-64 176a8 8 0 0 0 4.79 10.26A8.1 8.1 0 0 0 96 224a8 8 0 0 0 7.52-5.27l64-176a8 8 0 0 0-4.79-10.25"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Windilycloud</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                后端开发
              </p>
            </div><p class="font-sans text-sm text-muted-500 dark:text-muted-400">
              一位年轻而富有经验的后端开发专家。擅长处理数据和构建可靠的服务器端架构，为团队提供了高性能和稳定的后端解决方案。
            </p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://github.com/windily-cloud"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1.03em"
                  height="1em"
                  viewBox="0 0 1536 1504"
                  data-icon="fa:github"
                  class="block mx-auto iconify w-5 h-5 iconify--fa"
                  ><path
                    fill="currentColor"
                    d="M768 0q209 0 385.5 103T1433 382.5T1536 768q0 251-146.5 451.5T1011 1497q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142q57-6 102.5-18t94-39t81-66.5t53-105T1258 728q0-119-79-206q37-91-8-204q-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T450 331.5T365 318q-45 113-8 204q-79 87-79 206q0 85 20.5 150T351 983t80.5 67t94 39t102.5 18q-39 36-49 103q-21 10-45 15t-57 5t-65.5-21.5T356 1146q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5t9 14t13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30t69.5 7t55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5T0 768q0-209 103-385.5T382.5 103T768 0M291 1103q3-7-7-12q-10-3-13 2q-3 7 7 12q9 6 13-2m31 34q7-5-2-16q-10-9-16-3q-7 5 2 16q10 10 16 3m30 45q9-7 0-19q-8-13-17-6q-9 5 0 18t17 7m42 42q8-8-4-19q-12-12-20-3q-9 8 4 19q12 12 20 3m57 25q3-11-13-16q-15-4-19 7t13 15q15 6 19-6m63 5q0-13-17-11q-16 0-16 11q0 13 17 11q16 0 16-11m58-10q-2-11-18-9q-16 3-14 15t18 8t14-14"
                  ></path></svg
                ></a
              ><a
                href="https://windilycloud.cn/"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 512 512"
                  data-icon="fa-solid:blog"
                  class="block mx-auto iconify w-5 h-5 iconify--fa-solid"
                  ><path
                    fill="currentColor"
                    d="M172.2 226.8c-14.6-2.9-28.2 8.9-28.2 23.8V301c0 10.2 7.1 18.4 16.7 22c18.2 6.8 31.3 24.4 31.3 45c0 26.5-21.5 48-48 48s-48-21.5-48-48V120c0-13.3-10.7-24-24-24H24c-13.3 0-24 10.7-24 24v248c0 89.5 82.1 160.2 175 140.7c54.4-11.4 98.3-55.4 109.7-109.7c17.4-82.9-37-157.2-112.5-172.2M209 0c-9.2-.5-17 6.8-17 16v31.6c0 8.5 6.6 15.5 15 15.9c129.4 7 233.4 112 240.9 241.5c.5 8.4 7.5 15 15.9 15h32.1c9.2 0 16.5-7.8 16-17C503.4 139.8 372.2 8.6 209 0m.3 96c-9.3-.7-17.3 6.7-17.3 16.1v32.1c0 8.4 6.5 15.3 14.8 15.9c76.8 6.3 138 68.2 144.9 145.2c.8 8.3 7.6 14.7 15.9 14.7h32.2c9.3 0 16.8-8 16.1-17.3c-8.4-110.1-96.5-198.2-206.6-206.7"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div><div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306172312491.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-blue-100 text-blue-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:code-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="m240 128l-48 40H64l-48-40l48-40h128Z" opacity=".2"></path><path
                      d="M69.12 94.15L28.5 128l40.62 33.85a8 8 0 1 1-10.24 12.29l-48-40a8 8 0 0 1 0-12.29l48-40a8 8 0 0 1 10.24 12.3m176 27.7l-48-40a8 8 0 1 0-10.24 12.3L227.5 128l-40.62 33.85a8 8 0 1 0 10.24 12.29l48-40a8 8 0 0 0 0-12.29m-82.39-89.37a8 8 0 0 0-10.25 4.79l-64 176a8 8 0 0 0 4.79 10.26A8.1 8.1 0 0 0 96 224a8 8 0 0 0 7.52-5.27l64-176a8 8 0 0 0-4.79-10.25"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Cuman</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                前端开发
              </p>
            </div><p class="font-sans text-sm text-muted-500 dark:text-muted-400">
              一位出色的前端开发专家。他擅长使用朴实无华的代码创建出令人印象深刻的用户界面和交互体验，...
            </p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://github.com/cumany"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1.03em"
                  height="1em"
                  viewBox="0 0 1536 1504"
                  data-icon="fa:github"
                  class="block mx-auto iconify w-5 h-5 iconify--fa"
                  ><path
                    fill="currentColor"
                    d="M768 0q209 0 385.5 103T1433 382.5T1536 768q0 251-146.5 451.5T1011 1497q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142q57-6 102.5-18t94-39t81-66.5t53-105T1258 728q0-119-79-206q37-91-8-204q-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T450 331.5T365 318q-45 113-8 204q-79 87-79 206q0 85 20.5 150T351 983t80.5 67t94 39t102.5 18q-39 36-49 103q-21 10-45 15t-57 5t-65.5-21.5T356 1146q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5t9 14t13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30t69.5 7t55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5T0 768q0-209 103-385.5T382.5 103T768 0M291 1103q3-7-7-12q-10-3-13 2q-3 7 7 12q9 6 13-2m31 34q7-5-2-16q-10-9-16-3q-7 5 2 16q10 10 16 3m30 45q9-7 0-19q-8-13-17-6q-9 5 0 18t17 7m42 42q8-8-4-19q-12-12-20-3q-9 8 4 19q12 12 20 3m57 25q3-11-13-16q-15-4-19 7t13 15q15 6 19-6m63 5q0-13-17-11q-16 0-16 11q0 13 17 11q16 0 16-11m58-10q-2-11-18-9q-16 3-14 15t18 8t14-14"
                  ></path></svg
                ></a
              ><a
                href="https://space.bilibili.com/1970226"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                  data-icon="simple-icons:bilibili"
                  class="block mx-auto iconify w-5 h-5 iconify--simple-icons"
                  ><path
                    fill="currentColor"
                    d="M17.813 4.653h.854q2.266.08 3.773 1.574Q23.946 7.72 24 9.987v7.36q-.054 2.266-1.56 3.773c-1.506 1.507-2.262 1.524-3.773 1.56H5.333q-2.266-.054-3.773-1.56C.053 19.614.036 18.858 0 17.347v-7.36q.054-2.267 1.56-3.76t3.773-1.574h.774l-1.174-1.12a1.23 1.23 0 0 1-.373-.906q0-.534.373-.907l.027-.027q.4-.373.92-.373t.92.373L9.653 4.44q.107.106.187.213h4.267a.8.8 0 0 1 .16-.213l2.853-2.747q.4-.373.92-.373c.347 0 .662.151.929.4s.391.551.391.907q0 .532-.373.906zM5.333 7.24q-1.12.027-1.88.773q-.76.748-.786 1.894v7.52q.026 1.146.786 1.893t1.88.773h13.334q1.12-.026 1.88-.773t.786-1.893v-7.52q-.026-1.147-.786-1.894t-1.88-.773zM8 11.107q.56 0 .933.373q.375.374.4.96v1.173q-.025.586-.4.96q-.373.375-.933.374c-.56-.001-.684-.125-.933-.374q-.375-.373-.4-.96V12.44q0-.56.386-.947q.387-.386.947-.386m8 0q.56 0 .933.373q.375.374.4.96v1.173q-.025.586-.4.96q-.373.375-.933.374c-.56-.001-.684-.125-.933-.374q-.375-.373-.4-.96V12.44q.025-.586.4-.96q.373-.373.933-.373"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div><div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306172308364.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-purple-100 text-purple-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:bounding-box-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path
                      d="M216 48v32a8 8 0 0 1-8 8h-32a8 8 0 0 1-8-8V48a8 8 0 0 1 8-8h32a8 8 0 0 1 8 8M80 40H48a8 8 0 0 0-8 8v32a8 8 0 0 0 8 8h32a8 8 0 0 0 8-8V48a8 8 0 0 0-8-8m128 128h-32a8 8 0 0 0-8 8v32a8 8 0 0 0 8 8h32a8 8 0 0 0 8-8v-32a8 8 0 0 0-8-8m-128 0H48a8 8 0 0 0-8 8v32a8 8 0 0 0 8 8h32a8 8 0 0 0 8-8v-32a8 8 0 0 0-8-8"
                      opacity=".2"></path><path
                      d="M208 96a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16h-32a16 16 0 0 0-16 16v8H96v-8a16 16 0 0 0-16-16H48a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h8v64h-8a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-8h64v8a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-8V96Zm-32-48h32v32h-32ZM48 48h32v15.9a.5.5 0 0 0 0 .2V80H48Zm32 160H48v-32h32v15.9a.5.5 0 0 0 0 .2zm128 0h-32v-32h32Zm-24-48h-8a16 16 0 0 0-16 16v8H96v-8a16 16 0 0 0-16-16h-8V96h8a16 16 0 0 0 16-16v-8h64v8a16 16 0 0 0 16 16h8Z"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Ryooo</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                管理顾问
              </p>
            </div>
            <p class="font-sans text-sm text-muted-500 dark:text-muted-400"></p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://forum-zh.obsidian.md/u/Ryooo"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 48 48"
                  data-icon="arcticons:obsidian"
                  class="block mx-auto iconify w-5 h-5 iconify--arcticons"
                  ><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.133 40.912c3.155-6.394 3.071-10.982 1.722-14.24c-1.229-3.014-3.527-4.913-5.333-6.095a2.3 2.3 0 0 1-.167.503L9.11 30.526c-.44.975-.237 2.12.512 2.885l6.784 6.98c.214.213.466.39.726.52Zm8.581-12.973c.847.083 1.675.27 2.494.567c2.587.968 4.942 3.146 6.887 7.343c.14-.242.279-.474.428-.698a114 114 0 0 0 3.415-5.388a1.3 1.3 0 0 0-.093-1.461a28.2 28.2 0 0 1-3.322-5.445c-.894-2.14-1.024-5.481-1.033-7.1c0-.615-.196-1.22-.577-1.704l-6.747-8.561l-.112-.14c.493 1.629.465 2.931.158 4.113c-.28 1.099-.8 2.094-1.35 3.146c-.185.354-.372.717-.548 1.089a13 13 0 0 0-1.47 5.398c-.094 2.252.362 5.072 1.86 8.84z"
                  ></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M25.704 27.939c-1.498-3.77-1.954-6.59-1.86-8.841c.092-2.234.744-3.91 1.47-5.398l.558-1.09c.54-1.05 1.052-2.047 1.34-3.145a7.3 7.3 0 0 0-.158-4.113a2.606 2.606 0 0 0-3.667-.186l-8.022 7.212c-.45.403-.746.949-.838 1.545L13.55 20.4c0 .065-.019.121-.028.186c1.806 1.173 4.095 3.072 5.333 6.078c.242.595.447 1.219.595 1.898a18.6 18.6 0 0 1 6.254-.633z"
                  ></path><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M29.91 43.406c1.732.475 3.472-.912 3.714-2.699c.198-1.695.7-3.34 1.48-4.858c-1.954-4.197-4.309-6.375-6.887-7.343c-2.745-1.023-5.733-.68-8.767.056c.68 3.08.28 7.11-2.308 12.35c.289.149.615.232.94.26l4.086.307c2.215.159 5.519 1.303 7.743 1.927Z"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div><div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306172309527.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-violet-100 text-violet-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:megaphone-simple-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="M144 69.09v101.82l-93.76 28.76A8 8 0 0 1 40 192V48a8 8 0 0 1 10.24-7.67Z" opacity=".2"
                    ></path><path
                      d="m228.54 86.66l-176.06-54A16 16 0 0 0 32 48v144a16 16 0 0 0 16 16a16 16 0 0 0 4.52-.65L136 181.73V192a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-29.9l28.54-8.75A16.09 16.09 0 0 0 240 138v-36a16.09 16.09 0 0 0-11.46-15.34M136 165l-88 27V48l88 27Zm48 27h-32v-15.18l32-9.82Zm40-54h-.11L152 160.08V79.92l71.89 22h.11v36Z"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Jason</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                法律专家
              </p>
            </div><p class="font-sans text-sm text-muted-500 dark:text-muted-400"></p>
          </div>
        </div>
        <div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306192137689.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-violet-100 text-violet-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:megaphone-simple-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="M144 69.09v101.82l-93.76 28.76A8 8 0 0 1 40 192V48a8 8 0 0 1 10.24-7.67Z" opacity=".2"
                    ></path><path
                      d="m228.54 86.66l-176.06-54A16 16 0 0 0 32 48v144a16 16 0 0 0 16 16a16 16 0 0 0 4.52-.65L136 181.73V192a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-29.9l28.54-8.75A16.09 16.09 0 0 0 240 138v-36a16.09 16.09 0 0 0-11.46-15.34M136 165l-88 27V48l88 27Zm48 27h-32v-15.18l32-9.82Zm40-54h-.11L152 160.08V79.92l71.89 22h.11v36Z"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">AidenLx</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                Developer
              </p>
            </div>
            <p class="font-sans text-sm text-muted-500 dark:text-muted-400"></p>
            <!-- <div class="flex justify-center gap-2">
              <a
                href="https://github.com/aidenlx"
                target="_blank"
                class="w-8 h-8 flex items-center justify-center rounded-full hover:bg-muted-100 dark:hover:bg-muted-700 text-muted-500 dark:text-white hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1.03em"
                  height="1em"
                  viewBox="0 0 1536 1504"
                  data-icon="fa:github"
                  class="block mx-auto iconify w-5 h-5 iconify--fa"
                  ><path
                    fill="currentColor"
                    d="M768 0q209 0 385.5 103T1433 382.5T1536 768q0 251-146.5 451.5T1011 1497q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142q57-6 102.5-18t94-39t81-66.5t53-105T1258 728q0-119-79-206q37-91-8-204q-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27T450 331.5T365 318q-45 113-8 204q-79 87-79 206q0 85 20.5 150T351 983t80.5 67t94 39t102.5 18q-39 36-49 103q-21 10-45 15t-57 5t-65.5-21.5T356 1146q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5t9 14t13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30t69.5 7t55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5T0 768q0-209 103-385.5T382.5 103T768 0M291 1103q3-7-7-12q-10-3-13 2q-3 7 7 12q9 6 13-2m31 34q7-5-2-16q-10-9-16-3q-7 5 2 16q10 10 16 3m30 45q9-7 0-19q-8-13-17-6q-9 5 0 18t17 7m42 42q8-8-4-19q-12-12-20-3q-9 8 4 19q12 12 20 3m57 25q3-11-13-16q-15-4-19 7t13 15q15 6 19-6m63 5q0-13-17-11q-16 0-16 11q0 13 17 11q16 0 16-11m58-10q-2-11-18-9q-16 3-14 15t18 8t14-14"
                  ></path></svg
                ></a
              >
            </div> -->
          </div>
        </div>
        <div class="group flex flex-col gap-y-4">
          <div class="relative w-full">
            <img
              class="block m-auto w-32 h-32 rounded-2xl"
              src="https://cdn.pkmer.cn/images/202306192158205.gif"
              alt="Team member"
            /><div
              class="absolute top-0 left-10 flex items-center justify-center w-6 h-6 bg-white mask mask-hexed scale-50 opacity-0 group-hover:scale-100 group-hover:opacity-100 transition-all duration-300"
            >
              <div class="flex items-center justify-center w-12 h-12 bg-violet-100 text-violet-500 mask mask-hexed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  role="img"
                  width="1em"
                  height="1em"
                  viewBox="0 0 256 256"
                  data-icon="ph:megaphone-simple-duotone"
                  class="block mx-auto iconify w-6 h-6 iconify--ph"
                  ><g fill="currentColor"
                    ><path d="M144 69.09v101.82l-93.76 28.76A8 8 0 0 1 40 192V48a8 8 0 0 1 10.24-7.67Z" opacity=".2"
                    ></path><path
                      d="m228.54 86.66l-176.06-54A16 16 0 0 0 32 48v144a16 16 0 0 0 16 16a16 16 0 0 0 4.52-.65L136 181.73V192a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-29.9l28.54-8.75A16.09 16.09 0 0 0 240 138v-36a16.09 16.09 0 0 0-11.46-15.34M136 165l-88 27V48l88 27Zm48 27h-32v-15.18l32-9.82Zm40-54h-.11L152 160.08V79.92l71.89 22h.11v36Z"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </div><div class="flex flex-col gap-2 text-center">
            <div>
              <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">Jerrywcy</h4><p
                class="font-sans text-sm text-muted-500 dark:text-muted-400"
              >
                Developer
              </p>
            </div>
            <p class="font-sans text-sm text-muted-500 dark:text-muted-400"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
